
*{
    padding: 5px;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.active.boxed{
    padding: 0px;
    max-width: 78%;
    margin: -10px auto;
    background: #fff;
    padding: 0px;
    min-height: 100%;
    box-shadow: 0px 0px 24px -10px rgb(94, 93, 93);
}

.header{
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: bold;
    font-family:sans-serif;
    font-size: 30px;
    padding-top: 0px;
}

.header h1{
    color: black;
    font-weight: bold;
    font-family:sans-serif;
    font-size: 170%;
    position: relative;
    text-align: center;
    padding-bottom: 0.8%;
    padding-top: 2%;
}

.header h2{
    color: black;
    font-family:sans-serif;
    font-size: 70%;
    position: relative;
    text-align: center;
    padding-bottom: 0%;
    font-style: italic;
}

#icons{
    padding: 0%;
    padding-right: 6%;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 2px solid black;
}

.nav-links{
    flex:auto;
    text-align: center;
    align-items: center;
    display:inline-block;
    height: 10%;
    width: 30%;
}

.nav-links img{
    box-sizing: border-box;
    width: 2.5%;
    height: auto;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
    min-width: 40px;
    }

.nav-links ul{
    max-width: 50%;
    margin: 0;
    display: inline-block;
    padding:0%
}

.nav-links ul li{
    display: inline-block;
    padding: 2px 2px;
    
    /* border: 2px solid rgb(180, 175, 175);
    background-color: rgb(180, 175, 175); */
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(161, 161, 161);
    display: block;
    margin: auto;
    transition: 0.2s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.info-cont h1{
    font-size: 200%;
    padding-left: 4%;
}

.info-cont p{
    padding-left: 6%;
}
